################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-.labs/FileContentIndex
/.vs
/CSLab/.vs/CSLab
/CSLab/bin/Debug/net8.0
/CSLab/obj
